* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
}

/* table {
    border-collapse: collapse;
    border-color: 1px solid black;
} */

.FirstP {
    background-color: black;
    height: 100vh;
    background-image: url(/images/river.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:exclusion;
    background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.192));
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position:fixed;
    width:1140px;
    margin: 0 auto;
}

.SU {
    color: white;
    background-color: transparent;
    border: 0px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1rem;
}

.download {
    background-color: transparent;
    font-family: Arial;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 4px;
    margin: 36px;
    font-size: 13px;
    height: 50px;
    width: 150px;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;    
}

.li {
    list-style: none;
    font-family: Arial;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

li{ 
align-items: center;
padding: 1rem;
}

main {
    background-color: black;
    margin: 3rem 5rem;
    color: white;
}

.middle {
    height: 100vh;
    text-align: center;
    justify-content:center;
    color: white;

}

.W {
    font-size: 2rem;
    font-family: Varela Round;
}

.I {
    font-family: Varela Round;
    font-size: 3rem;
    
}

.P {
    font-size: 15px;
}

main .I span ::after {
    content: " ";
    height: 40px;
    width: 30px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

i {
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100px;
    height: 100px;
}

